<%= form_for(@prerequisite) do |f| %>
  <% if @prerequisite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prerequisite.errors.count, "error") %> prohibited this prerequisite from being saved:</h2>

      <ul>
      <% @prerequisite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :operator %><br>
    <%= f.number_field :operator %>
  </div>
  <div class="field">
    <%= f.label :operandA %><br>
    <%= f.number_field :operandA %>
  </div>
  <div class="field">
    <%= f.label :operandB %><br>
    <%= f.number_field :operandB %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
