<p id="notice"><%= notice %></p>

<h1>Listing Prerequisites</h1>

<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Operanda</th>
      <th>Operandb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prerequisites.each do |prerequisite| %>
      <tr>
        <td><%= prerequisite.operator %></td>
        <td><%= prerequisite.operandA %></td>
        <td><%= prerequisite.operandB %></td>
        <td><%= link_to 'Show', prerequisite %></td>
        <td><%= link_to 'Edit', edit_prerequisite_path(prerequisite) %></td>
        <td><%= link_to 'Destroy', prerequisite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prerequisite', new_prerequisite_path %>
