<p id="notice"><%= notice %></p>

<p>
  <strong>Operator:</strong>
  <%= @prerequisite.operator %>
</p>

<p>
  <strong>Operanda:</strong>
  <%= @prerequisite.operandA %>
</p>

<p>
  <strong>Operandb:</strong>
  <%= @prerequisite.operandB %>
</p>

<%= link_to 'Edit', edit_prerequisite_path(@prerequisite) %> |
<%= link_to 'Back', prerequisites_path %>
