<% @page_title = "FAQs" %>

<div>
	<ul>
	<li>
		<image style="margin-left:15%" src='http://www.firstaiddepot.com/faq2.jpg'/>
	</li>
	<li>
		<label class="question" > What should I consider when selecting classes? </label>
	</li>
	<li>
		<p>Make sure you have enough mathematics/science classes for graduation requirements. Check with the appropriate teacher for advice about the workload of various electives. Consider expectations of colleges. If you are interested more in engineering, you may want to focus on physics and chemistry; if pre-med is a consideration, focus on chemistry electives.</p>
	</li>
	<li>
		<label class="question">What do colleges expect?</label>
	</li>
	<li>
		<p>While all colleges are not the same in terms of admission requirements, there are definite similarities about the academic basics colleges expect in order for a student to be competitive for admission. Below are some of the general admission requirements for a state university, a selective small liberal arts college, and an Ivy League school. These are to be used as guidelines only as specific departments/specialized majors within the schools themselves may have additional requirements for a student to complete to remain competitive.</p>
	</li>
	<li>
		<label class="question">Is this a required course?</label>
	</li>
	<li>
		<p>Most colleges and universities have specific college courses that all first-year students to take. You should be able to find out what these classes are in a student handbook or similar informational publication.There are also certain classes you will be required to take to fulfill your college major and college minor. For example, an English major may be required to take a certain number of classes in fields like British Literature, Post-Colonial Literature, and more.</p>
	</li>
	<li>
		<label class="question"> Are there prerequisites for this course? </label>
	</li>
	<li>	
		<p>Some higher level college classes have prerequisites, or specific classes that a student must take before he or she is permitted to take a higher level course. For example, if you want to take Calculus II, you may first have to fulfill the prerequisite of taking Calculus I.</p>
	</li>
	<li>
		<label class="question"> When does this course meet?</label>
	</li>
	<li>	
		<p>In high school, most students don’t have to consider the time or day of the week a class is offered. When choosing courses at college, however, it’s important to take scheduling into account.</p>
	</li>
	<li>
		<label class="question">How many students are in the class?</label>
	</li>
	<li>	
		<p>If you would prefer courses that allow for more interaction between students and face-to-face time with professors, then smaller classes may be for you. If, on the other hand, you would prefer to primarily listen to lectures instead of class participation, then choosing courses with a larger class size may be advisable.</p>
	</li>
	</ul>
</div>
