// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Styling for courses
//TO DO : Change font so that numerals are lined

.course-name{
  font-family: $opensans;
  font-size: 140%;
  color: black;

  &:hover {
//Hover Color of Collapse Course Tags
    color: $unm-red;
    text-decoration: underline;
  }
}

.course-description-tag{
  font-family: $opensans;
  font-weight: bold;
  text-align: left;
//display: inline;

}

.course-description{
  font-family: $opensans;
//display:inline;
//  padding-left: 10%;
}

.course-prereq-tag{
  font-family: $opensans;
  font-weight: bold;
  text-align: left;

}

.course-prereq{

}
