<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "The Calendar App", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Courses",      courses_path %></li>
        <li><%= link_to "About Us",     about_path %></li>
        <li><%= link_to "FAQ",          faq_path %></li>
        <li><%= link_to "Contact Us",   contact_path %></li>

      </ul>
    </div>
  </div>
</nav>
